/*Header*/

.header__wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--grey);
}

.header__logo {
    width: 180px;
    height: auto;
}

.icons {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.icons li {
    width: 28px;
    height: 28px;
}

.icons__item {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.icons__item.heart {
    background-image: url('../img/heart.svg');
}

.icons__item.ring {
    background-image: url('../img/bell-ringing.svg');
}

.icons__item.user {
    background-image: url('../img/user.svg');
}

.header-bottom {
    grid-template-columns: 36px auto;
    gap: 40px;
}

body .menu {
    gap: 25px;
    width: fit-content;
}

body .menu {
    gap: 25px;
    width: fit-content;
}

body .menu li {
    background-color: var(--light-grey);
    border-radius: 10px;
    height: 32px;
    padding: 4px 20px;
    white-space: nowrap;
}

body .header *, body .footer * {
    font-family: var(--theme-button-font-family);
}

body .menu li a {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 100%;
}

.icons__language {
    align-self: flex-end;
}

/*Header end*/


/*First news*/

.block__wrap {
    grid-template-columns: 1fr 296px;
    padding-top: 48px;
}

.block-main {
    padding-right: 10px;
    border-right: 1px solid var(--grey-border);
}

.block-sidebar {
    /* background-color: var(--light-grey); */
    padding-left: 10px;
    border-left: 1px solid var(--grey-border);
}

.block-first {
    grid-template-columns: 33% 67%;
}

.block-main__second.block-first {
    grid-template-columns: 33% calc(67% - 10px);
    gap: 10px;
    padding-top: 30px;
}

.block-main__second.block-first .block-first__list {
    padding-right: 10px;
    padding-top: 22px;
}

.block-main__second.block-first .block-first__list, .block-sidebar {
    padding-bottom: 20px;
}

.block-first__picture {
    padding-left: 10px;
    border-left: 1px solid var(--grey-border);
    height: calc(100% - 33px);
}

.cat-button {
    margin-bottom: 37px;
}

.block-main__second.block-first .block-first__list .cat-button {
    margin-bottom: 13px;
}

.block-first__center .cat-button {
    margin-bottom: 34px;
}

.first-list__item:not(:last-of-type) {
    padding-bottom: 22px;
    border-bottom: 1px solid var(--grey-border);
    margin-bottom: 20px;
}

.first-list__item a, .block-center-list__item a {
    font-size: 16px;
    font-weight: 600;
    line-height: 132%;
    display: block;
}

.first-list__item.first a {
    font-weight: bold;
}

.block-sidebar__category {
    height: 160px;
    margin-bottom: 32px;
}

.block-sidebar__category.sidebar {
    margin-bottom: 26px;
}

.block-sidebar__cats {
    margin-bottom: 32px;
    gap: 10px;
}

.block-center-list {
    padding: 20px;
}

.block-center-list__item {
    grid-template-columns: repeat(2, 50%);
}

.block-center-list__item.left {
    grid-template-columns: 33% 67%;
}

.block-main__first .first-list__item {
    padding-right: 17px;
}

.block-center-list__item:not(:last-of-type) {
    padding-bottom: 20px;
    border-bottom: 1px solid #FDC3A1;
    margin-bottom: 24px;
}

.block-center-list__left {
    padding-right: 20px;
}

.block-center-list__item figure {
    height: 140px;
    margin-top: -6px;
}

.left .block-center-list__left {
    padding-right: 0;
    padding-left: 20px;
}

.block-center-list__item.left figure {
    height: 120px;
}

.block-center-list__left h5 {
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: var(--theme-button-font-family);
}

.block__wrap.under-line {
    padding-bottom: 32px;
}

.first-news-slider__slide {
    height: 280px;
}

.first-news-slider__slide>span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #000 2%, transparent);
}

.first-news-slider__slide a {
    color: var(--white);
    bottom: 48px;
    left: 20px;
    width: calc(100% - 26px);
}

.swiper.first-news-slider {
    margin-left: -12px;
    margin-right: -12px;
}

/*First news end*/

/*Megamenu*/

.mega-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 0;
    left: 0;
    display: none;
}

.mega-menu__close {
    position: absolute;
    top: 30px;
    right: 46px;
    background-color: transparent;
}

.mega-menu__top {
    padding-bottom: 36px;
    border-bottom: 1px solid var(--grey-border);
    margin-bottom: 38px;
    padding-top: 17px;
}

.search-wrap {
    grid-template-columns: auto 115px;
    gap: 30px;
}

input[type=text].search-wrap__input {
    width: 778px;
    height: 43px;
    background-color: var(--light-grey);
    padding: 4px 20px;
    border: none;
    border-radius: 10px;
}

input[type=text].search-wrap__input:focus {
    background-color: var(--grey-border);
    border: none;
}

input[type=text].search-wrap__input::placeholder {
    color: var(--black);
    font-size: 16px;
}

body .button.search-wrap__btn {
    height: 43px;
    background-color: var(--red);
    color: var(--white);
    font-size: 16px;
}

.header__logo.header__logo_footer {
    margin-bottom: 24px;
    display: block;
}

.mega-news {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 58px;
    padding-top: 9px;
}

.mega-news * {
    font-family: var(--theme-button-font-family);
}

.mega-item__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 17px;
}

.mega-cat-list__item:not(:last-of-type) {
    margin-bottom: 16px;
}

.mega-menu__menu li:not(:last-of-type) {
    margin-bottom: 4px;
}

.mega-cat-list__item a, .mega-menu__menu li a {
    font-size: 16px;
}

.block__wrap.mega-menu-content__wrap {
    padding-top: 0;
    gap: 52px;
}

.mega-sidebar .first-list__item {
    border-bottom: none;
}

/*Megamenu end*/


/*Second horizontal news*/

.block-news-item__image {
    height: 240px;
    margin-bottom: 13px;
}

.block-news-item__image::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .6) 1%, transparent);
}

.block-news-item__image button {
    position: absolute;
    bottom: 24px;
    left: 24px;
    z-index: 1;
}

.block-news-item__data {
    margin-bottom: 16px;
}

.block-news-item__data * {
    color: #474747;
    font-size: 14px;
    font-family: var(--theme-button-font-family);
    font-weight: 400;
    margin-bottom: 0;
    opacity: .8;
}

.first-list__item .button a {
    color: var(--red);
}

.first-list__item.block-news-item:not(:last-of-type) {
    border-bottom: none;
    margin-bottom: 0;
}

section.second {
    padding-bottom: 70px;
}

/*Second horizontal news end*/


/*Third news*/

.third-news {
    grid-template-columns: 57% calc(43% - 20px);
    gap: 20px;
}

.third-news__first {
    grid-row: 1/5;
}

.third-news__first figure {
    height: 100%;
}

.third-item {
    grid-column: 2/3;
    grid-template-columns: 132px 1fr;
    gap: 20px;
}

.third-item figure {
    height: 110px;
    margin-top: 0;
}

.block-center-list__item.third-item:not(:last-of-type) {
    padding-bottom: 16px;
    margin-bottom: 2px;
}

/*Third news*/

/*Fifth news*/

.categories-list {
    grid-template-columns: 32.5% 35% 32.5%;
}

.cat-item[data-num="0"] .cat-item__border {
    border-right: 1px solid var(--grey-border);
    padding-right: 30px;
}

.cat-item[data-num="1"] {
    padding-left: 30px;
    padding-right: 30px;
}

.cat-item[data-num="2"] .cat-item__border {
    padding-left: 30px;
    border-left: 1px solid var(--grey-border);
}

.cat-item__image {
    height: 260px;
    margin-bottom: 48px;
}

.cat-item__item {
    grid-template-columns: 102px 1fr;
    margin-bottom: 32px;
    gap: 16px;
}

.cat-item__item figure {
    height: 90px;
}

.block-center-list__left .block-news-item__data {
    margin-bottom: 8px;
}

.block-center-list__left .block-news-item__data h5 {
    color: var(--black);
    margin-bottom: 0;
    opacity: 1;
}

/*Fifth news end*/


/*Footer*/

.footer {
    padding-top: 30px;
    padding-bottom: 50px;
}

.footer-wrapper__logo {
    margin-bottom: 45px;
    display: block;
}

.footer-list__cats, .footer-list.last {
    padding-top: 36px;
}

.footer-wrapper {
    grid-template-columns: 23% 49% 28%;
    padding-bottom: 100px;
    border-bottom: 1px solid var(--light-grey);
    gap: 30px;
}

.footer-cat-item {
    width: 33%;
}

.footer-cat-item__title {
    font-size: 18px;
    margin-bottom: 26px;
}

.footer-cat-list {
    gap: 30px;
}

.mega-cat-list__item a {
    margin: 0;
    /* Убираем внешний отступ */
    -webkit-line-clamp: 2;
    /* Число отображаемых строк */
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;
    /* Вертикальная ориентация */
    overflow: hidden;
}

/*Footer end*/


/*Category*/

.block__wrap.category {
    padding-bottom: 50px;
}

.category-list {
    padding-right: 40px;
}

.category-item:not(:last-of-type) {
    padding-bottom: 31px;
    border-bottom: 1px solid var(--grey-border);
}

.category-item {
    grid-template-columns: 32% calc(68% - 24px);
    gap: 24px;
    margin-bottom: 31px;
}

.category-item__image {
    height: 200px;
}

.category-block__box {
    margin-bottom: 26px;
}

.category-block__date, .category-block__date * {
    color: #9A9A9A;
    font-size: 14px;
}

.category-block__date {
    display: inline-block;
}

.category-block__date::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    top: 5px;
    background: url('../img/clock.svg') no-repeat center/contain;
    margin-right: 6px;
}

.first-list__item a.first-list__item__title {
    display: block;
    margin-bottom: 32px;
}

body .button.tag-name {
    margin-bottom: 0;
}

body .button.tag-name a {
    color: var(--black);
    font-weight: 400;
}

.first-list__item.cat-sidebar-list__item:not(:last-of-type) {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 30px;
}

.cat-sidebar-item:not(:last-of-type) {
    margin-bottom: 60px;
}

/*Category end*/


/*Media*/

@media (max-width:1199px) {
    .menu-osnovnoe-menyu-kategorii-container {
        overflow-x: auto;
    }

    .block__wrap {
        grid-template-columns: 1fr 232px;
        padding-top: 30px;
    }

    .cat-button {
        margin-bottom: 20px;
    }

    .first-list__item, .first-list__item:last-of-type {
        padding-bottom: 14px;
        margin-bottom: 20px;
    }

    .block-sidebar__category {
        height: 145px;
        margin-bottom: 26px;
    }

    .mega-menu__top {
        padding-bottom: 17px;
        margin-bottom: 17px;
        padding-top: 17px;
    }

    .header__logo.header__logo_footer {
        margin-bottom: 13px;
        width: 130px;
    }

    .mega-item__title {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .mega-cat-list__item a {
        font-size: 14px;
        line-height: 130%;
    }

    .mega-news {
        row-gap: 30px;
    }

    .block__wrap.mega-menu-content__wrap {
        gap: 30px;
        align-items: flex-start;
    }

    .block-sidebar__category.sidebar {
        margin-bottom: 11px;
        height: 136px;
    }

    .mega-menu-content {
        overflow-y: auto;
        height: calc(100% - 150px);
    }

    .cat-item[data-num="0"] .cat-item__border {
        padding-right: 12px;
    }

    .cat-item[data-num="1"] {
        padding-left: 12px;
        padding-right: 12px;
    }

    .cat-item[data-num="2"] .cat-item__border {
        padding-left: 12px;
    }

    .categories-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .categiries-list__item:not(:last-of-type) {
        margin-bottom: 30px;
    }
}

@media (max-width:991px) {
    .block__wrap {
        grid-template-columns: 1fr;
    }

    .block-sidebar {
        padding-left: 0;
        border-left: none;
    }

    .block-main {
        padding-right: 0;
        border-right: none;
        margin-bottom: 60px;
    }

    .first-list__item.first {
        display: grid;
        grid-template-columns: calc(65% - 20px) 35%;
        gap: 20px;
    }

    .first-list__item.first a {
        order: -1;
    }

    .block-first {
        margin-bottom: 20px;
    }

    body .button.wide {
        min-height: 40px;
        margin-top: 14px;
    }

    .mega-sidebar {
        width: 500px;
    }

    .block-four {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-wrapper {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }

    .footer-cat-list {
        order: -1;
    }

    .footer-list.first {
        order: 1;
    }

    .footer-list.last {
        order: 0;
    }

    .category-cats {
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--bs-border-color);
    }

    .category-item__block {
        order: -1;
    }

    .category-list {
        padding-right: 0;
    }

    .category-item {
        grid-template-columns: calc(65% - 20px) 35%;
        gap: 20px;
    }

    .category-cats .cat-button, .cat-sidebar-item__btn {
        margin-bottom: 40px;
    }
}

@media (max-width:930px) and (max-height:420px) {
    .first-list__item a, .block-center-list__item a {
        font-size: 14px;
    }

    body .button {
        font-size: 12px;
        min-height: 30px;
    }

    .cat-button {
        margin-bottom: 10px;
    }

    .first-list__item:not(:last-of-type) {
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .block-main__second.block-first .block-first__list {
        padding-top: 17px;
    }

    .block-main__second.block-first .block-first__list .cat-button {
        margin-bottom: 4px;
    }

    .block-first__center .cat-button {
        margin-bottom: 20px;
    }

    .block-center-list__left h5 {
        margin-bottom: 6px;
    }

    .block-center-list__item figure {
        height: 115px;
        margin-top: 0;
    }

    .block-center-list__item.left figure {
        height: 96px;
    }

    .block-center-list__item:not(:last-of-type) {
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .first-list__item:last-of-type {
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .block-main__second .first-list__item:last-of-type, .js-targetTabs .first-list__item:last-of-type {
        padding-bottom: 0;
    }

    .block-main__second.block-first .block-first__list, .block-sidebar {
        padding-bottom: 0;
    }

    .block-main {
        margin-bottom: 30px;
    }
}

@media (max-width:767px) {
    .first-list__item a, .block-center-list__item a {
        font-size: 14px;
    }

    body .button {
        font-size: 12px;
        min-height: 30px;
    }

    .cat-button {
        margin-bottom: 12px;
    }

    .block-main__first .first-list__item {
        padding-right: 14px;
    }

    .first-list__item:not(:last-of-type) {
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .block-main__second.block-first .block-first__list {
        padding-top: 17px;
    }

    .block-main__second.block-first .block-first__list .cat-button {
        margin-bottom: 4px;
    }

    .block-first__center .cat-button {
        margin-bottom: 20px;
    }

    .block-center-list__left h5 {
        margin-bottom: 6px;
    }

    .block-center-list__item figure {
        height: 115px;
        margin-top: 0;
    }

    .block-center-list__item.left figure {
        height: 96px;
    }

    .block-main__second.block-first {
        grid-template-columns: 30% calc(70% - 10px);
    }

    .block-center-list__item:not(:last-of-type) {
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .first-list__item:last-of-type {
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .first-list__item.category-block:last-of-type {
        padding-bottom: 0;
    }

    .cat-item__item .first-list__item:last-of-type {
        padding-bottom: 0;
    }

    .cat-item__item:not(:last-of-type) {
        padding-bottom: 16px;
        margin-bottom: 18px;
        border-bottom: 1px solid var(--bs-border-color);
    }

    .block-main__second .first-list__item:last-of-type, .js-targetTabs .first-list__item:last-of-type {
        padding-bottom: 0;
    }

    .block-main__second.block-first .block-first__list, .block-sidebar {
        padding-bottom: 0;
    }

    .cat-item__image {
        height: 240px;
        margin-bottom: 32px;
    }

    .block-main {
        margin-bottom: 32px;
    }

    body .menu {
        gap: 10px;
    }

    .categories-list {
        grid-template-columns: 1fr;
    }

    .cat-item[data-num="0"] .cat-item__border {
        padding-right: 0;
        border-right: none;
    }

    .cat-item[data-num="1"] {
        padding-left: 0;
        padding-right: 0;
    }

    .cat-item[data-num="2"] .cat-item__border {
        padding-left: 0;
        border-left: none;
    }

    .categiries-list__item:not(:last-of-type) {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--bs-border-color);
    }
}

@media (max-width:575px) {
    .header__icons.icons {
        align-self: flex-end;
    }

    .header-bottom {
        grid-template-columns: 1fr;
    }

    .header__logo {
        width: 31vw;
    }

    .first-news-slider {
        margin-top: 25px;
    }

    .block-sidebar__category.sidebar {
        margin-bottom: 10px;
        height: 22vw;
    }

    .mega-sidebar .block-sidebar__category.sidebar {
        height: 45vw;
    }

    .block-sidebar__category {
        height: 22vw;
    }

    body .button.wide {
        font-size: 14px;
    }

    .block-sidebar {
        padding-bottom: 32px;
    }

    section.block-sidebar {
        margin-left: -12px;
        margin-right: -12px;
        padding-top: 36px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mega-news {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    .mega-sidebar {
        width: 100%;
    }

    .mega-cat-list__item a {
        font-size: 13px;
        display: block;
    }

    .menu-menyu-straniczy-en-container {
        grid-column: 1 / 3;
    }

    .mega-menu__close {
        right: 16px;
    }

    .cat-item__item .first-list__item {
        padding-right: 0;
        order: -1;
    }

    .cat-item__item {
        grid-template-columns: 1fr 103px;
    }

    .footer-cat-list {
        column-gap: 20px;
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .footer-cat-item {
        width: 46%;
    }

    .footer-list__cats, .footer-list.last {
        padding-top: 14px;
    }

    .footer-cat-item__title {
        font-size: 16px;
        margin-bottom: 24px;
        border-bottom: 1px solid var(--grey-border);
        padding-bottom: 10px;
    }

    .category-item__image {
        height: 110px;
    }

    .category-cats .cat-button, .cat-sidebar-item__btn {
        margin-bottom: 28px;
    }

    .category-block__box {
        margin-bottom: 11px;
    }

    .first-list__item a.first-list__item__title {
        margin-bottom: 6px;
    }

    .category-block__date {
        font-size: 11px;
    }

    .category-block__date::before {
        width: 15px;
        height: 15px;
        top: 4px;
        margin-right: 2px;
    }

    .category-item {
        margin-bottom: 20px;
    }

    .category-item:not(:last-of-type) {
        padding-bottom: 18px;
    }

    .block-sidebar.category__sidebar {
        padding-bottom: 0;
    }

    .block__wrap.category {
        padding-bottom: 24px;
    }

    .cat-sidebar-item:not(:last-of-type) {
        margin-bottom: 32px;
    }
}